<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- Metadatos agregados para el SEO -->
        <meta name="description" content="Presentamos en esta sección todas las diferentes actividades de las que hablaremos en el sitio" />
        <meta name="keywords" content="niños, familia, programación, animaciones, dibujos 3D, videojuegos" />

        <!-- TITULO -->
        <title>Actividades - Muy Pro Kids</title>

        <!-- CSS -- Se enlaza bootstrap y fuentes de googlefonts -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Share:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet" />

        <!-- Hoja de estilos propios - Generados por SASS -->
        <link rel="stylesheet" href="../assets/css/style.css" />
    </head>
    <body class="body d-flex flex-column justify-content-between">
        <!--Menú desplegable para navegación, responsivo, disponible en todas las páginas-->
        <div>
            <header class="bg_gradient sticky-top">
                <nav class="navbar navbar-expand-sm navbar-dark">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="#">
                            <img width="30" height="30" alt="" src="../img/MPK_cara_02.svg" alt="Muy Pro Kids" />
                        </a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse header__menu" id="navbarNav">
                            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                                <li class="nav-item"><a class="nav-link text-light" href="../index.html">Inicio</a></li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Actividades</a>
                                    <!-- contiene los enlaces a los diferentes artículos dentro de la otra pagina -->
                                    <ul class="dropdown-menu bg_gradient" aria-labelledby="navbarDropdown">
                                        <li>
                                            <a class="dropdown-item fs-3 text-light" href="./actividades.html#dibujosAnimaciones">Dibujos y animaciones</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item fs-3 text-light" href="./actividades.html#stopMotion">Stop Motion</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item fs-3 text-light" href="./actividades.html#programarJugando">Aprendiendo a programar jugando</a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="nav-item"><a class="nav-link text-light" href="./contacto.html">Contacto</a></li>
                                <li class="nav-item"><a class="nav-link text-light" href="./sobreNosotros.html">Sobre Nosotros</a></li>
                                <li class="nav-item"><a class="nav-link text-light" href="./blog.html">Blog</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>
            <section class="section1">
                <h1 class="section1__title">Muy pro kids - Actividades</h1>
                <h2 class="section1__subtitle section1__subtitle--center mb-9 pb-5">Actividades que puedes realizar en familia con la PC</h2>

                <article class="section1__article2 container mb-5" id="dibujosAnimaciones">
                    <h3 class="section1__subtitle section1__subtitle--h3 mb-2">Dibujo y animación digital</h3>

                    <p class="section1__paragraph col-md-9 mb-2">En nuestra sección de dibujo digital iremos probando diferentes aplicaciones para lograr. Desde las gratuitas a las pagas, iremos compartiendo mini proyectos, tutoriales y opiniones acerca de las que vayamos descubriendo. Seguramente conoces Paint 3D y Photoshop, pero algunas menos conocidas como Piskel permiten dibujar pixelados además de crear animaciones y exportar directamente a gif.</p>
                    <img class="col-12 col-sm-10 col-md-8" src="../img/Cap_hank_paint3D.PNG" alt="Una imagen re grande" />
                </article>

                <article class="section1__article2 container mb-5">
                    <h3 class="section1__subtitle section1__subtitle--h3" id="stopMotion">Stop Motion</h3>

                    <p class="section1__paragraph col-md-9">Piskel es una excelente herramienta introductoria para entender la animación cuadro por cuadro. Luego de esto, se pueden crear verdaderas películas a partir de unos juguetes en casa, una cámara digital (puede ser simplemente un teléfono móvil) y un programa de edición como camstasia, monkeyjam, entre otros. Esta actividad requiere un poco más de ayuda por parte de los padres, para preparar el mini-estudio, crear un pequeño guión y luego agregar las fotos al software que hayan elegido. Aunque todo esto suena complicado, es mucho más sencillo y divertido de lo que parece.</p>
                    <img class="col-12 col-sm-10 col-md-8" src="../img/Cap_Marcou_piskel.PNG" alt="Otra imagen re grande" />
                </article>

                <article class="section1__article2 container mb-5">
                    <h3 class="section1__subtitle section1__subtitle--h3" id="programarJugando">Aprender a programar jugando</h3>
                    <p class="section1__paragraph col-md-9">
                        Una habilidad que era reservada para genios hace unos años ahora se pude acceder de las más variadas maneras. Además de los innumerables videos en youtube, existen páginas como code.org que enseñan a los más pequeños a programar en bloques con divertidos personajes. Se encuentran con la interfaz en español y son realmente intuitivos. <br />
                        La misma interfaz de programación se usa en Scratch, que es una plataforma donde los chicos pueden elegir una enorme variedad de personajes y acciones, y realizar películas, historias interactivas ¡o sus propios video juegos! También tiene su propio editor de imágenes, muy similar a Paint, para crear sus propios personajes y elementos.
                    </p>
                    <img class="col-12 col-sm-10 col-md-8" src="../img/Cap_gatoman_scratch.PNG" alt="la 3er imagen re grande" />
                </article>
            </section>
        </div>
        <!--PIE con información de redes y contacto, disponible en todas las páginas-->

        <footer class="bg_gradient container-fluid">
            <ul class="navbar d-flex justify-content-center">
                <li class="nav-item"><a class="nav-link text-light" href="./contacto.html">Contacto</a></li>
                <li class="nav-item"><a class="nav-link text-light" href="#">Partners</a></li>
                <li class="nav-item"><a class="nav-link text-light" href="#">Politica de Privacidad</a></li>
            </ul>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    </body>
</html>
