<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Actividades</title>
        <link rel="stylesheet" href="../assets/css/style.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Share:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet" />
    </head>
    <body class="body body_bg">
        <header class="header">
            <div>
                <img class="header__logo" src="../img/MPK_cara_02.svg" alt="Muy Pro Kids" height="100" width="100" />
            </div>

            <nav>
                <div class="header__menu">
                    <!--Menú desplegable para navegación, disponible en todas las páginas-->
                    <ul>
                        <li><a href="../index.html">Inicio</a></li>
                        <li>
                            <a href="./actividades.html">Actividades</a>
                            <!--contiene los enlaces a los diferentes artículos dentro de la otra pagina-->
                            <ul>
                                <li>
                                    <a href="./actividades.html#dibujosAnimaciones">Dibujos y animaciones</a>
                                </li>
                                <li>
                                    <a href="./actividades.html#stopMotion">Stop Motion</a>
                                </li>
                                <li>
                                    <a href="./actividades.html#programarJugando">Aprendiendo a programar jugando</a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="./contacto.html">Contacto</a></li>
                        <li><a href="./sobreNosotros.html">Sobre Nosotros</a></li>
                        <li><a href="./blog.html">Blog</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <section class="section1">
            <h1 class="section1__title">Muy pro kids - Actividades</h1>
            <h2 class="section1__subtitle section1__subtitle--margin">Actividades que puedes realizar en familia con la PC</h2>

            <article class="section1__article2" id="dibujosAnimaciones">
                <h3 class="section1__subtitle section1__subtitle--h3">Dibujo y animación digital</h3>

                <p class="section1__paragraph">En nuestra sección de dibujo digital iremos probando diferentes aplicaciones para lograr. Desde las gratuitas a las pagas, iremos compartiendo mini proyectos, tutoriales y opiniones acerca de las que vayamos descubriendo. Seguramente conoces Paint 3D y Photoshop, pero algunas menos conocidas como Piskel permiten dibujar pixelados además de crear animaciones y exportar directamente a gif.</p>
                <img class="section1--img__actividades" src="../img/Cap_hank_paint3D.PNG" alt="Una imagen re grande" />
            </article>

            <article class="section1__article2">
                <h3 class="section1__subtitle section1__subtitle--h3" id="stopMotion">Stop Motion</h3>

                <p class="section1__paragraph">Piskel es una excelente herramienta introductoria para entender la animación cuadro por cuadro. Luego de esto, se pueden crear verdaderas películas a partir de unos juguetes en casa, una cámara digital (puede ser simplemente un teléfono móvil) y un programa de edición como camstasia, monkeyjam, entre otros. Esta actividad requiere un poco más de ayuda por parte de los padres, para preparar el mini-estudio, crear un pequeño guión y luego agregar las fotos al software que hayan elegido. Aunque todo esto suena complicado, es mucho más sencillo y divertido de lo que parece.</p>
                <img class="section1--img__actividades" src="../img/Cap_Marcou_piskel.PNG" alt="Otra imagen re grande" />
            </article>

            <article class="section1__article2">
                <h3 class="section1__subtitle section1__subtitle--h3" id="programarJugando">Aprender a programar jugando</h3>
                <p class="section1__paragraph">
                    Una habilidad que era reservada para genios hace unos años ahora se pude acceder de las más variadas maneras. Además de los innumerables videos en youtube, existen páginas como code.org que enseñan a los más pequeños a programar en bloques con divertidos personajes. Se encuentran con la interfaz en español y son realmente intuitivos. <br />
                    La misma interfaz de programación se usa en Scratch, que es una plataforma donde los chicos pueden elegir una enorme variedad de personajes y acciones, y realizar películas, historias interactivas ¡o sus propios video juegos! También tiene su propio editor de imágenes, muy similar a Paint, para crear sus propios personajes y elementos.
                </p>
                <img class="section1--img__actividades" src="../img/Cap_gatoman_scratch.PNG" alt="la 3er imagen re grande" />
            </article>
        </section>

        <!--PIE con información de redes y contacto, disponible en todas las páginas-->

        <footer class="footer">
            <ul class="footer__menu">
                <li><a href="./contacto.html">Contacto</a></li>
                <li><a href="">Partners</a></li>
                <li><a href="">Politica de Privacidad</a></li>
            </ul>
        </footer>
    </body>
</html>
