<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Sobre Nosotros</title>
        <link rel="stylesheet" href="../assets/css/style.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Share:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet" />
    </head>
    <body class="body body_bg">
        <header class="header">
            <div>
                <img class="header__logo" src="../img/MPK_cara_02.svg" alt="Muy Pro Kids" height="35" width="35" />
            </div>

            <nav>
                <div class="header__menu">
                    <!--Menú desplegable para navegación, disponible en todas las páginas-->
                    <ul>
                        <li><a href="../index.html">Inicio</a></li>
                        <li>
                            <a href="./actividades.html">Actividades</a>
                            <!--contiene los enlaces a los diferentes artículos dentro de la otra pagina-->
                            <ul>
                                <li>
                                    <a href="./actividades.html#dibujosAnimaciones">Dibujos y animaciones</a>
                                </li>
                                <li>
                                    <a href="./actividades.html#stopMotion">Stop Motion</a>
                                </li>
                                <li>
                                    <a href="./actividades.html#programarJugando">Aprendiendo a programar jugando</a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="./contacto.html">Contacto</a></li>
                        <li><a href="./sobreNosotros.html">Sobre Nosotros</a></li>
                        <li><a href="./blog.html">Blog</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <section class="section1">
            <article class="section1__article2">
                <h1 class="section1__title">Muy pro kids - Sobre Nosotros</h1>

                <!--Texto de presentación del sitio-->
                <p class="section1__paragraph">
                    Muy pro kids es un emprendimiento nacido de una familia apasionada por el mundo digital. <br />
                    Mamá, es la artista digital, diseñadora gráfica/UX/UI, que domina todas las herramientas gráficas y produce los hermosos diseños que tenemos. <br />
                    Niño es un estudiante de primaria, amante de las computadoras y que se maravilla cada vez que aprende una nueva forma de dibujar, animar y ahora de programar, con la esperanza de aprender a modificar sus videojuegos preferidos en un futuro. <br />
                    Papá, quien escribe estas líneas, es un ingeniero electrónico apasionado por la informática desde su más tierna infancia. Nunca deja de aprender cosas nuevas y disfruta de mantenerse al día en el mundo tecnológico. Amante de la programación, los robots, el futuro y la ciencia ficción. <br />
                    Entre todos, queremos compartir con las demás familias todas las actividades que disfrutamos hacer nosotros mismos y además incrementan nuestras habilidades para usarlas tanto en el trabajo, como en el estudio y la vida personal. Esperamos por medio de nuestros artículos, promover el buen uso de la informática y el internet, y dirigir hacia un verdadero manantial interminable de conocimiento que sea provechoso para todos los que quieran ser parte.
                </p>
            </article>
            <article></article>
        </section>

        <!--PIE con información de redes y contacto, disponible en todas las páginas-->

        <footer class="footer">
            <ul class="footer__menu">
                <li><a href="./contacto.html">Contacto</a></li>
                <li><a href="">Partners</a></li>
                <li><a href="">Politica de Privacidad</a></li>
            </ul>
        </footer>
    </body>
</html>
