<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- Metadatos agregados para el SEO -->
        <meta name="description" content="Blog con artículos de dibujo, animación y programación de Muy Pro Kids. Lo mantenemos actualizado para que no se pierdan nada de lo nuevo" />
        <meta name="keywords" content="blog, artículos, animaciones, dibujos 3D, videojuegos" />

        <!-- TITULO -->
        <title>Armando el set de Stop Motion - MPK</title>

        <!-- Hoja de estilos propios - Generados por SASS -->
        <link rel="stylesheet" href="../../assets/css/style.css" />

        <!-- CSS -- Se enlaza bootstrap y fuentes de googlefonts -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Share:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet" />
    </head>
    <body class="body d-flex flex-column justify-content-between">
        <!--Menú desplegable para navegación, responsivo, disponible en todas las páginas-->
        <div>
            <header class="bg_gradient sticky-top">
                <nav class="navbar navbar-expand-sm navbar-dark">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="#">
                            <img width="30" height="30" alt="" src="../../img/MPK_cara_02.svg" alt="Muy Pro Kids" />
                        </a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse header__menu" id="navbarNav">
                            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                                <li class="nav-item"><a class="nav-link text-light" href="../../index.html">Inicio</a></li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Actividades</a>
                                    <!-- contiene los enlaces a los diferentes artículos dentro de la otra pagina -->
                                    <ul class="dropdown-menu bg_gradient" aria-labelledby="navbarDropdown">
                                        <li>
                                            <a class="dropdown-item fs-3 text-light" href="../actividades.html#dibujosAnimaciones">Dibujos y animaciones</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item fs-3 text-light" href="../actividades.html#stopMotion">Stop Motion</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item fs-3 text-light" href="../actividades.html#programarJugando">Aprendiendo a programar jugando</a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="nav-item"><a class="nav-link text-light" href="../contacto.html">Contacto</a></li>
                                <li class="nav-item"><a class="nav-link text-light" href="../sobreNosotros.html">Sobre Nosotros</a></li>
                                <li class="nav-item"><a class="nav-link text-light" href="../blog.html">Blog</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>
            <section class="section1">
                <h1 class="section1__title">Muy pro kids - Blog</h1>
                <article class="section1_article1 container">
                    <div class="row justify-content-center">
                        <div class="col-10 col-sm-8 col-md-8">
                            <h3 class="section1__subtitle">Animaciones con Paint 3D</h3>
                            <p class="section1__paragraph col-md-9">Desde el útil y versátil Paint 3D, herramienta que viene ya instalada con windows (desde win7) se pueden crear unas animaciones predeterminadas de manera muy sencilla. Para esto lo primero que necesitamos es una imagen 3D terminada (de internet o hecha por nosotros mismos). En nuestro caos no nos volvimos locos y cosntruímos un signo de advertencia, usando una línea 3D y texto 3D. Luego al momento de guardar, en la opción video, nos muestra las siguientes ideas:</p>
                            <div class="row">
                                <div class="col-12 col-sm-6 col-md-4">
                                    <h3 class="section1__paragraph">Emergente</h3>
                                    <img src="../../img/advertencia_3D_emerge.gif" alt="Signo de advertencia precaucion 3D animado - Emerge" class="section1__img--midsize" />
                                </div>
                                <div class="col-12 col-sm-6 col-md-4">
                                    <h3 class="section1__paragraph">Giratorio</h3>
                                    <img src="../../img/advertencia_3D_giratorio.gif" alt="Signo de advertencia precaucion 3D animado - giratorio" class="section1__img--midsize" />
                                </div>
                                <div class="col-12 col-sm-6 col-md-4">
                                    <h3 class="section1__paragraph">Oscilatorio</h3>
                                    <img src="../../img/advertencia_3D_oscilar.gif" alt="Signo de advertencia precaucion 3D animado - oscilatorio" class="section1__img--midsize" />
                                </div>
                                <div class="col-12 col-sm-6 col-md-4">
                                    <h3 class="section1__paragraph">Salta y Gira</h3>
                                    <img src="../../img/advertencia_3D_salta_gira.gif" alt="Signo de advertencia precaucion 3D animado - salta y gira" class="section1__img--midsize" />
                                </div>
                                <div class="col-12 col-sm-6 col-md-4">
                                    <h3 class="section1__paragraph">Suspendido</h3>
                                    <img src="../../img/advertencia_3D_suspendido.gif" alt="Signo de advertencia precaucion 3D animado - suspendido" class="section1__img--midsize" />
                                </div>
                                <div class="col-12 col-sm-6 col-md-4">
                                    <h3 class="section1__paragraph">Tambaleo</h3>
                                    <img src="../../img/advertencia_3D_tambaleo.gif" alt="Signo de advertencia precaucion 3D animado - tambaleo" class="section1__img--midsize" />
                                </div>
                            </div>
                            <p class="section1__paragraph col-md-9 mt-5">Aunque quede corto el artículo de hoy, esperamos que les sirva lo que le contamos ¡Un gran saludo!</p>
                        </div>
                        <div class="g-0 col-sm-4 col-md-4">
                            <aside class="aside">
                                <form action="" class="section1__form--blog">
                                    <fieldset>
                                        <div>
                                            <label class="form-label" for="emailSubs">Déjanos tu correo y suscribite a nuestro blog!</label>

                                            <input type="email" class="form-control" id="emailSubs" name="emailSubs" placeholder="nombre@correo" />
                                            <input class="form__button--blog" type="submit" value="Suscribir" name="" id="btnSuscribir" />
                                        </div>
                                    </fieldset>
                                </form>
                            </aside>
                            <aside class="aside">
                                <h3 class="aside-subtitle">Últimas entradas</h3>
                                <ul class="aside-menu">
                                    <li><a href="./dibujo_210901.html">Dibujando a Hank en 3D</a></li>
                                    <li><a href="./animacion_260921.html">Primeras animaciones en Piskel</a></li>
                                    <li><a href="./animacion_P3D_270921.html">Animaciones en Paint 3D</a></li>
                                </ul>
                            </aside>
                            <aside class="aside">
                                <h3 class="aside-subtitle">Entradas ordenadas por tema</h3>
                                <ul class="aside-menu">
                                    <li><a href="../web-construccion.html"> Dibujos y animaciones</a></li>
                                    <li><a href="../web-construccion.html"> Stop Motion</a></li>
                                    <li><a href="../web-construccion.html">Programación</a></li>
                                </ul>
                            </aside>
                        </div>
                    </div>
                </article>
            </section>
        </div>

        <!--PIE con información de redes y contacto, disponible en todas las páginas-->
        <footer class="bg_gradient container-fluid">
            <ul class="navbar d-flex justify-content-center">
                <li class="nav-item"><a class="nav-link text-light" href="../contacto.html">Contacto</a></li>
                <li class="nav-item"><a class="nav-link text-light" href="">Partners</a></li>
                <li class="nav-item"><a class="nav-link text-light" href="">Politica de Privacidad</a></li>
            </ul>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    </body>
</html>
