<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- Metadatos agregados para el SEO -->
        <meta name="description" content="Blog con artículos de dibujo, animación y programación de Muy Pro Kids. Lo mantenemos actualizado para que no se pierdan nada de lo nuevo" />
        <meta name="keywords" content="blog, artículos, animaciones, dibujos 3D, videojuegos" />

        <!-- TITULO -->
        <title>DIbujando a Hank - MPK</title>

        <!-- Hoja de estilos propios - Generados por SASS -->
        <link rel="stylesheet" href="../../assets/css/style.css" />

        <!-- CSS -- Se enlaza bootstrap y fuentes de googlefonts -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Share:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet" />
    </head>
    <body class="body d-flex flex-column justify-content-between">
        <!--Menú desplegable para navegación, responsivo, disponible en todas las páginas-->
        <div>
            <header class="bg_gradient sticky-top">
                <nav class="navbar navbar-expand-sm navbar-dark">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="#">
                            <img width="30" height="30" alt="" src="../../img/MPK_cara_02.svg" alt="Muy Pro Kids" />
                        </a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse header__menu" id="navbarNav">
                            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                                <li class="nav-item"><a class="nav-link text-light" href="../../index.html">Inicio</a></li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Actividades</a>
                                    <!-- contiene los enlaces a los diferentes artículos dentro de la otra pagina -->
                                    <ul class="dropdown-menu bg_gradient" aria-labelledby="navbarDropdown">
                                        <li>
                                            <a class="dropdown-item fs-3 text-light" href="../actividades.html#dibujosAnimaciones">Dibujos y animaciones</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item fs-3 text-light" href="../actividades.html#stopMotion">Stop Motion</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item fs-3 text-light" href="../actividades.html#programarJugando">Aprendiendo a programar jugando</a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="nav-item"><a class="nav-link text-light" href="../contacto.html">Contacto</a></li>
                                <li class="nav-item"><a class="nav-link text-light" href="../sobreNosotros.html">Sobre Nosotros</a></li>
                                <li class="nav-item"><a class="nav-link text-light" href="../blog.html">Blog</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>
            <section class="section1">
                <h1 class="section1__title">Muy pro kids - Blog</h1>
                <article class="section1_article1 container">
                    <div class="row justify-content-center">
                        <div class="col-10 col-sm-8 col-md-8">
                            <h3 class="section1__subtitle">Dibujando a Hank</h3>
                            <div class="mb-5">
                                <p class="section1__paragraph col-md-9">
                                    Hoy vamos a ver cómo crear un personaje 3D a partir de uno 2D. <br />
                                    Lo primero que necesitamos es conseguir la imagen 2D de nuestro modelo, luego la abriremos desde paint 3D, y empezaremos a modelar las partes. En nuestro caso elegimos al amigo Hank del conocido juego Madness Combat. Podemos empezar por la cabeza, eligiendo arriba la opción de figuras 3D y luego en el menú de la derecha la esfera.
                                </p>
                                <img src="../../img/Cap_hank_paint3D.PNG" alt="hank 3D" class="col-12 col-sm-10 col-md-8" />
                            </div>
                            <div class="mb-5">
                                <p class="section1__paragraph col-md-9">Luego de eso podemos ir a la biblioteca 3D y elegir las gafas que llevará puestas, y también vamos a ver que hay un turbante que viene como anillo al dedo para el personaje. Las manos, se pueden hacer con la herramienta "pincel tubular", que es ideal para dibujar los dedos y luego dejar la mano terminada.</p>
                                <img src="../../img/Cap_hank_paint3D.PNG" alt="hank 3D" class="col-12 col-sm-10 col-md-8" />
                            </div>
                            <div class="mb-5">
                                <p class="section1__paragraph col-md-9">
                                    El arma también podemos sacarla de la biblioteca 3D, nosotros elegimos una ametralladora, aunque el dibujo original trae una espada. Esto es para que vean que pueden usar la imaginación y elegir lo que más les guste. <br />
                                    Y ya no queda mucho más, solo seguir creando con las figuras 3D y los accesorios, usando de modelo el dibujo 2D y dejar a Hank como más les guste ¡Envíennos sus modelos terminados y los publicaremos en una nota especial del blog!
                                </p>
                            </div>
                        </div>
                        <div class="g-0 col-sm-4 col-md-4">
                            <aside class="aside">
                                <form action="" class="section1__form--blog">
                                    <fieldset>
                                        <div>
                                            <label class="form-label" for="emailSubs">Déjanos tu correo y suscribite a nuestro blog!</label>

                                            <input type="email" class="form-control" id="emailSubs" name="emailSubs" placeholder="nombre@correo" />
                                            <input class="form__button--blog" type="submit" value="Suscribir" name="" id="btnSuscribir" />
                                        </div>
                                    </fieldset>
                                </form>
                            </aside>
                            <aside class="aside">
                                <h3 class="aside-subtitle">Últimas entradas</h3>
                                <ul class="aside-menu">
                                    <li><a href="./dibujo_210901.html">Dibujando a Hank en 3D</a></li>
                                    <li><a href="./animacion_260921.html">Primeras animaciones en Piskel</a></li>
                                    <li><a href="./animacion_P3D_270921.html">Animaciones en Paint 3D</a></li>
                                </ul>
                            </aside>
                            <aside class="aside">
                                <h3 class="aside-subtitle">Entradas ordenadas por tema</h3>
                                <ul class="aside-menu">
                                    <li><a href="../web-construccion.html"> Dibujos y animaciones</a></li>
                                    <li><a href="../web-construccion.html"> Stop Motion</a></li>
                                    <li><a href="../web-construccion.html">Programación</a></li>
                                </ul>
                            </aside>
                        </div>
                    </div>
                </article>
            </section>
        </div>

        <!--PIE con información de redes y contacto, disponible en todas las páginas-->
        <footer class="bg_gradient container-fluid">
            <ul class="navbar d-flex justify-content-center">
                <li class="nav-item"><a class="nav-link text-light" href="../contacto.html">Contacto</a></li>
                <li class="nav-item"><a class="nav-link text-light" href="">Partners</a></li>
                <li class="nav-item"><a class="nav-link text-light" href="">Politica de Privacidad</a></li>
            </ul>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    </body>
</html>
