.section1__form {
    height: auto;
    color: $color-violeta-oscuro;
    font-family: "roboto";
    margin-left: 4rem;
}

.form {
    &__legend {
        font-size: 2.5rem;
        padding: 1.5rem;
    }
    &__label {
        font-size: 1.8rem;
        padding: 1rem;
    }
}

.formInput__text_email {
    width: 65%;
    padding: 0.5rem 0.5rem;
    margin: 0.5rem 0rem;
    border-radius: 5px;
}

.formInput__textarea {
    width: 90%;
    height: 10rem;
    padding: 0.5rem 0.5rem;
    margin: 0.5rem 0rem;
    border-radius: 5px;
}

.formInput__checkbox {
    padding: 5px 5px;
    margin: 1px 0;
}

.formInput__select {
    padding: 5px 5px;
    margin: 1px 0;
    border-radius: 5px;
}

.form__button {
    background-color: $color-violeta;
    border: none;
    border-radius: 5px;
    color: $color-claro;
    padding: 10px 40px;
    text-decoration: none;
    margin: 10px 10px;
    margin-top: 25px;
    cursor: pointer;
}
