.section1 {
    &__title {
        text-align: center;
        font-size: 2.5rem;
        color: $color-violeta-oscuro;
        font-family: "share";
        margin: 3rem;
    }
    &__subtitle {
        font-size: 2.2rem;
        color: $color-violeta-oscuro;
        font-family: "share";

        &--center {
            text-align: center;
        }
    }

    &__paragraph {
        font-family: "roboto";
        font-size: 1.6rem;
        font-weight: 500;
        color: $color-azul;
        padding-right: 2rem;
        text-align: justify;
    }

    &__img--midsize {
        max-width: 20rem;
        max-height: 120rem;
    }
}

@media (min-width: 578px) {
    .section1 {
        &__title {
            font-size: 3.5rem;
            margin: 3rem;
        }
        &__subtitle {
            font-size: 3.2rem;
        }
    }
}
.construccion {
    max-width: 500px;
    max-height: 500px;
    &--img {
        object-fit: contain;
    }
}

.rotaImg {
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
}
@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}
@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
