$color-claro: #ccc;
$color-violeta: rgb(114, 30, 211);
$color-rosa: #ee24ab;
$color-amarillo: #ffed85;
$color-violeta-oscuro: #6c3261;
$color-azul: #115077;
$color-fucsia: #ee24e4;
$color-lila: #a424ee;

* {
    padding: 0px;
    margin: 0px;
}

html {
    font-size: 62.5%;
}

ul,
ol {
    list-style: none;
}
.body {
    font-size: 1.6rem;
    min-height: 100vh;
}
.bg_gradient {
    background-image: linear-gradient(to right, $color-amarillo, $color-rosa, $color-violeta);
}
@media (min-width: 768px) {
    .body__index {
        background-position: right;
    }
}
