$color-claro: #fff;
$color-violeta: rgb(145, 30, 211);
$color-rosa: #f34179;
$color-amarillo: #ffed85;
$color-violeta-oscuro: #4b1078;
$color-azul: #115077;
$color-fucsia: #ee24e4;
$color-lila: #a424ee;
$color-naranja: #fc894e;
* {
    padding: 0px;
    margin: 0px;
}

html {
    font-size: 62.5%;
}
a {
    text-decoration: none;
}
ul,
ol {
    list-style: none;
}
.body {
    font-size: 1.6rem;
    min-height: 100vh;
}
.bg_gradient {
    background-image: linear-gradient(to right, $color-rosa, $color-violeta);
}
@media (min-width: 768px) {
    .body__index {
        background-position: right;
    }
}
