/* INICIALIZAR CSS*/

* {
    padding: 0px;
    margin: 0px;
}

html {
    font-size: 62.5%;
}

.body {
    /* background-image: linear-gradient(to right, #ffed85, #ee24ab, #ffed85, #ee24ab); */
    font-size: 1.6rem;
    min-height: 100vh;
}

.body__index {
    background-image: url(../../img/foco\ trans-01.png);
    background-position: right;
}
.body__bg {
    background-color: #ffed85;
}

.bg_gradient {
    background-image: linear-gradient(to right, #ffed85, #ee24ab, rgb(114, 30, 211));
}
ul,
ol {
    list-style: none;
}
.header__menu {
}

@media (min-device-width: 578px) {
    .header__menu {
        padding: auto;
    }
    .header__menu > ul {
        height: 100%;
        padding: 0.3rem;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .header__menu li a {
        background-color: none;
        color: white;
        text-decoration: none;
        padding: 0.9rem 1.5rem;
        display: block;
    }

    .header__menu li a:hover {
        background-color: #ee24ab;
    }

    .header__menu li ul {
        display: none;
        position: absolute;
    }

    .header__menu li:hover > ul {
        display: block;
        z-index: 300;
        background-image: linear-gradient(to right, #ee24e4, #a424ee);
    }
}
